.boxLoops{
  display: flex;
  justify-content: space-around;
}
.boxLoops .loop{
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxLoops .loop .status{
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 100px;
  border: 4px solid #2e154e;
  margin-left: 10px;
}
.boxLoops .loop .status.on{
  background: yellow;
}